---
- hosts: all

  vars:
    timezone: Asia/Shanghai

    # Apache vars
    apache_remove_default_vhost: true
    apache_create_vhosts: true
    apache_vhosts:
    - servername: "default_vhost"
      documentroot: "/data/www"
      extra_parameters: |
        <Directory "/data/www">
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
        <FilesMatch "\.php$">
          SetHandler "proxy:fcgi://127.0.0.1:9000"
        </FilesMatch>

    # PHP vars
    php_enable_webserver: true
    php_webserver_daemon: "apache2"
    php_enable_php_fpm: true
    php_fpm_listen: "127.0.0.1:9000"
    php_fpm_listen_allowed_clients: "127.0.0.1"
    php_packages:
      - php7.0-fpm
      - php7.0-common
      - php7.0-cli
      - php7.0-dev
      - php7.0-gd
      - php7.0-curl
      - php7.0-imap
      - php7.0-json
      - php7.0-xml
      - php7.0-mbstring
      - php-sqlite3
      - php7.0-mcrypt
      - php7.0-fileinfo
      - php7.0-mysql
      - php7.0-pdo
      - php7.0-opcache
      - php-apcu
      - php7.0-sybase

    # MySQL vars
    mysql_root_username: root
    mysql_root_password: '1'
    mysql_root_password_update: yes
    mysql_bind_address: '0.0.0.0'
    mysql_config_include_files:
      - src: /vagrant/files/mysql.cnf
        force: true
    mysql_users:
      - name: sa
        host: '%'
        password: '1'
        priv: "*.*:ALL"

    # Nodejs
    nodejs_version: '6.x'

  pre_tasks:
    - apt_repository:
        repo: 'ppa:ondrej/php'

    - apt_repository:
        repo: 'ppa:ondrej/apache2'

  tasks:
    - name: Install required softwares
      apt: name={{ item }} state=present
      with_items:
        - git
        - vim
        - tmux
        - autojump

  roles:
    - geerlingguy.apache
    - geerlingguy.php
    - geerlingguy.apache-php-fpm
    - geerlingguy.composer
    - geerlingguy.mysql
    - angstwad.docker_ubuntu
    - yatesr.timezone

    - role: gantsign.oh-my-zsh
      users:
        - username: vagrant
          oh_my_zsh:
            theme: ""
            plugins:
              - git
              - autojump

    - geerlingguy.nodejs

  post_tasks:
    - apt_key:
        url: "https://dl.yarnpkg.com/debian/pubkey.gpg"
        state: present

    - apt_repository:
        repo: deb https://dl.yarnpkg.com/debian/ stable main
        state: present
        filename: 'yarn.list'

    - name: Install required softwares in post tasks
      apt: name={{ item }} state=present
      with_items:
        - yarn

    - include: tasks/pure-prompt.yml
    - include: tasks/tmux-conf.yml
